---
import BlogLayout from "src/layouts/BlogLayout.astro";
---

<BlogLayout
  title="AI4EO conference at the University of South Brittany"
  description="Foundation models, best practices in software engineering and latest developments in machine learning applied to earth observation."
  category="Conference"
  date="Apr 2026"
>
  <p>
    The purpose of participation in this conference was for participants to
    improve their understanding of the latest developments in machine learning
    applied to earth observation. A large majority of the topics presented at
    the conference consisted of foundation models and their application in
    remote sensing.
  </p>
  <img
    src="/ai4eo_lecturehall.jpg"
    alt="AI4EO taking place at the University of South Brittany"
  />
  <p>
    The conference brought together a group of experts in earth observation,
    particularly in Europe, with guest speakers representing TU Munich,
    University of South Brittany and the University of Strasbourg.
  </p>
  <img src="/ai4eo.jpg" alt="AI4EO participants" />
  <p>
    This event was incredibly helpful in that it helped build connections
    between not just well-established earth observation experts, but as well as
    researchers from different subject areas, namely medicine, electronic
    engineering and computer science, which, in my view, assists greatly in
    finding solutions untouched upon by traditional approaches that are
    overutilized by bringing in new, unorthodox and potentially innovative
    perspectives.
  </p>
</BlogLayout>
