---
import BlogLayout from "src/layouts/BlogLayout.astro";
---

<BlogLayout
  title="Excursion to UNOOSA and EODC in Vienna"
  description="Introduction to the United Nations Office for Outer Space Affairs functions and the data centers supporting the Copernicus ecosystem"
  category="Excursion"
  date="May 2026"
>
  <p>
    On the 26th of May, 2026, was held an excursion, organized by the Erasmus
    Mundus Joint Master programme Copernicus Digital Earth (CDE), to the data
    centers of Earth Observation Data Centre (EODC) and the United Nations
    Office for Outer Space Affairs (UNOOSA), the offices of which are located in
    Vienna, Austria. The aim of the excursion was to familiarize students with
    the data centers supporting the Copernicus satellite data ecosystem, whose
    backend infrastructure is managed and supported by EODC, and to provide
    knowledge in the functions of the UNOOSA.
  </p>
  <img src="/" alt="" />
  <p>
    EODC is a private company, funded partially by the Technical University of
    Vienna (TU Wien) and GeoSphere Austria, and provides services supporting the
    Copernicus data infrastructure using its in-office data centers and
    distributed computing workflows.
  </p>
  <img src="/" alt="" />
  <p>
    The United Nations Office for Outer Space Affairs is an office of the UN
    that works to help all countries, especially developing countries, access
    and leverage the benefits of space to accelerate sustainable development.
    They work toward this goal through a variety of activities that cover all
    aspects related to space, from space law to space applications.
  </p>
  <p>
    Objectives of this excursion, as mentioned above, was to familiarize
    students in the geospatial arena with the physical infrastructure that
    supports their staple workflows, and efforts by international organizations,
    like UNOOSA, to regulate and make accessible the above workflows across
    developing countries.
  </p>
  <p>
    My personal objectives during this excursion, however, comprised the intent
    to better understand what infrastructure lies beneath the usual geospatial
    processes that we, as geospatial students and engineers, so often utilize
    with the Copernicus platform, and to better understand the UN’s functions
    when it comes to geospatial data and space law. Owing to this, I expected to
    gain a great deal of fundamental knowledge in physical data infrastructure
    and policy surrounding satellite data usage.
  </p>
  <p>
    Upon reflection, what emerges as a notion regarding EODC is that the
    world-famous Copernicus ecosystem runs on a few splinters of data centers in
    comparison to data providers in other research areas, social networks and
    even small businesses, and the resulting conclusion is that the idea that
    better cloud-optimized programming workflows is a necessity becomes even
    clearer, and explains the demand for and rise of various new developments in
    the geospatial sector, namely the increased use of Zarr, datacubes and the
    strong focus on being “optimized for use”. With comparatively small data
    center infrastructure, demand for the above rises.
  </p>
  <p>
    With regards to the UNOOSA, a clear picture emerged in that the unit is
    under-funded, which is exacerbated by countries’ less-than-ideal amount of
    focus on the importance of geospatial analysis. Despite geospatial data,
    especially that of Landsat and Sentinel, being universally utilized and
    integral to geospatial analysis, the distribution of knowledge concerning
    the use of geospatial datasets is unevenly distributed across countries, an
    experience that I can attest to as having worked in the Mongolian geospatial
    field. There is a dire need for geospatial processes in the country to
    follow best practices and latest developments in the area, which, without
    policy adjustments and change, may not be possible. Despite the UNOOSA
    having consulted an unknown number of people for an unknown amount of time
    in Mongolia, the country has yet to see strong developments in the field or
    much traction with regards to best practices and policy change.
  </p>
  <p>
    This brings me to the conclusion that the UNOOSA, when granted more funding
    and a stronger ability to influence policy as a result of being given a
    greater importance, could eventually be a key player in shaping how
    effectively geospatial data is used, and as a consequence, better assess the
    effects of climate change, its resulting or non-related disasters using
    geospatial data: one of the most potent tools the world has to keep an eye
    on things on the ground, leading to a better fulfillment of its own stated
    goals by the name of Sustainable Development Goals.
  </p>
</BlogLayout>
